h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    display: block;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

p {
    display: block;
    text-align: center;
}


.tabela {
    display: flex;
    justify-content: center;
}

#foto-rep {
    display: block;
    margin: auto;
    border: 4px solid #000;
    
}

#foto-rep:hover {
    scale: 1.3;
    transition: 0.5s;
}

.comeco {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.para {
    text-transform: uppercase;
}