h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    display: block;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}
.tabela {
    display: flex;
    justify-content: center;
}