@font-face {
    font-family:'Pirata One';
    src: url(/assets/Pirata\ One.ttf) format(truetype);
}

body {
    font-family: 'Pirata One';
    font-size: larger;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
}

a{
    text-decoration: none;
}

.navbar {
    background-color: #084075;
    box-sizing: border-box;
    font-family: Arial;
}

#voltar {
    text-decoration: none;
    padding: 3px 3px;
    display: inline-block;
    color: #fff;
}

#voltar:hover{
    background-color: #082175;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 4px solid #fff;
}

#hospedagens{
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    color: #fff;
}

#hospedagens:hover{
    background-color: #082175;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 4px solid #fff;
}

#pagamento{
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    color: #fff;
}

#pagamento:hover{
    background-color: #082175;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 4px solid #fff;
}

#contato{
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    color: #fff;
}

#contato:hover{
    background-color: #082175;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 4px solid #fff;
}

img{
    border: 4px solid #000;
    border-radius: 5px;
}