@font-face {
    font-family: 'Pirata One';
    src: url(../assets/Pirata\ One.ttf) format(truetype);    
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Pirata One';
    font-size: 21px;
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    background-color: #102768;
    justify-content: center;
    box-sizing:border-box;
    display: flex;
    gap: 20px;
    width: 100%;
    position: absolute;
    top: 0;
}

footer {
    background-color: #102768;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.navbar {
    color: #fff;
    display: block;  
}

.navbar:hover {
    background-color: #183c9e;
    box-sizing: content-box;
    border-radius: 5px;
    border-bottom: 4px solid #fff;
}
